* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: orange;
    height: 100vh;
    width: 100vw;
    font-family: 'Courier New', Courier, monospace;
}

header {
    background-color: #292828;
    width: 100%;
}

#wrapper {
    margin: auto;
    width: 60%;
    background-color: antiquewhite;
    border: none;
    border-radius: 50px;
    scale: 0.8;
}
  

h1 {
    font-size: 4em;
    font-weight: bolder;
    text-align: center;
    padding: 1em;
    color: white;
    padding: 0.33em;
}

h2 {
    font-size: 3.5em;
    font-weight: bolder;
    text-align: center;
    padding: 0.5em;
}

.headerP {
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    margin-bottom: 3em;
}

.scoreContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 4em;
}

.scoreContainer .player {
    margin-right: 2em;
}

.scoreContainer .playerChoice {
    font-size: 7em;
    font-weight: bold;
    text-align: center;
}

.scoreContainer .score {
    font-size: 2em;
    font-weight: bold;
}

.scoreContainer .computerChoice {
    font-size: 7em;
    font-weight: bold;
    text-align: center;
}

.gameContainer .playerContainer{
    display: flex;
    justify-content: center;
    padding: 1em;
    gap: 3em;
}

.gameContainer img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

footer {
    background-color: #292828;
    color: white;
    padding: 20px;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
}

.button {
    display: flex;
    justify-content: center;
}

.reset {
    background-color: #292828;
    color: white;
    padding: 0.8em;
    width: 10%;
    text-align: center;
    border: none;
    border-radius: 50px;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: -1em;
}

@media screen and (max-width: 1100px) {

    #wrapper {
        width: 80%;
    }
    .gameContainer img {
      width: 120px;
    }

    .scoreContainer .playerChoice{
        font-size: 5em;
    }

    .scoreContainer .computerChoice{
        font-size: 5em;
    }

    .scoreContainer .score{
        font-size: 1.5em;
    }

    .reset {
        width: 15%;
    }
}

@media screen and (max-width: 900px) {

    #wrapper {
        width: 90%;
    }

    .scoreContainer .playerChoice{
        font-size: 4em;
    }

    .scoreContainer .computerChoice{
        font-size: 4em;
    }

    .reset {
        width: 20%;
        font-size: 1.2em;
    }
}

@media screen and (max-width: 750px) {

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2.5em;
    }
    
    .headerP {
        font-size: 1.4em;
    }

    #wrapper {
        width: 90%;
    }

    .gameContainer img {
        width: 80px;
      }

    .scoreContainer .playerChoice{
        font-size: 3em;
    }

    .scoreContainer .computerChoice{
        font-size: 3em;
    }

    .reset {
        width: 25%;
    }
}

@media screen and (max-width: 600px) {

    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 2em;
    }
    
    .headerP {
        font-size: 1.2em;
    }

    #wrapper {
        width: 90%;
    }

    .scoreContainer {
        margin-bottom: 1em;
    }

    .gameContainer img {
        width: 80px;
      }

    .scoreContainer .playerChoice{
        font-size: 2em;
    }

    .scoreContainer .computerChoice{
        font-size: 2em;
    }

    .reset { 
        width: 30%;
    }
}

@media screen and (max-width: 450px) {
    header {
        margin-bottom: 1.5em;
    }

    .reset { 
        font-size: 1em;
    }
}
